.App {
  text-align: center;
}

body {
  background: #eef4fb;
}

h1 {
  font-size: 50px;
  color: #003BC6;
}

* {
  font-family: 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}

.issue-input-container {
  max-width: 725px;
  background: #f6f6f6;
  margin: auto;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  padding: 40px 50px 30px;
}

.main-button {
  margin-top: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  background: #fff;
  color: #007a30;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
}

.active-button {
  background: #fcba02;
  color: #fff;
}

.view-selection {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  margin: auto;
  margin-top: 25px;
}